<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= app.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= app.title %></title>
    <link rel="stylesheet" href="bower_components/strong-css/dist/css/strong-css.css">
  </head>
  <body id=thestrongelement-com>
		<div class=ui>

			<header class=ui__header>
			    <div>

                    <strong id=logo--thestrongelement>The <code>strong</code> element</strong>

                    <nav role=navigation>
                        <ul>
                            <li><a href="#">PBR</a></li>
                            <li aria-selected=true><a href="#">Paleo</a></li>
                            <li><a href="#">Meh</a></li>
                        </ul>
                    </nav>

                </div>
			</header>

			<main class=ui__view role=main>
			
			
			</main>
			<footer class=ui__footer>
			    <div>
	footer.Post-ironic 90's
	            </div>
			</footer>





		
		</div>
	</body>
</html>