<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= app.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= app.title %></title>
    <link rel="stylesheet" href="css/strong-css.css">
  </head>
  <body id=thestrongelement-com>
		<div class=ui>

  <% 

    function create_el(el,txt) {
      return ['<',el,'>',txt,'</',el,'>'].join('');
    }
  
  %>

  <% els.headers.forEach(function(el,i){ %>
    <%- create_el(el,strings.headlines[i]) %>   
  <% }); %>
		
		</div>
	</body>
</html>