<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= app.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= app.title %></title>
    <link rel="stylesheet" href="bower_components/strong-css/dist/css/strong-css.css">
  </head>
  <body id=thestrongelement-com>
		<div class=ui>



			<main class=ui__view role=main>
				<article>
				

{{ app.title }}
				
				
				</article>   
			</main>
			<footer class=ui__footer>
			    <div>
	footer.Post-ironic 90's
	            </div>
			</footer>





		
		</div>
	</body>
</html>